# MongoDB Connection URI (Get from MongoDB Atlas: https://www.mongodb.com/cloud/atlas)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/aerostep?retryWrites=true&w=majority

# Secret key for JWT Token signing
JWT_SECRET=supersecretjwtkey12345

# Frontend URL for CORS (Optional)
# FRONTEND_URL=https://aerostep.vercel.app
